.hidden {
  display: none;
}
.header {
  background-color: #d1872d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
}

.leftButtons {
  cursor: pointer;
}
.leftButtons,
.rightButtons {
  display: flex;
  gap: 10px;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}
.headerButton {
  background-color: #96b652;
  border-style: none;
  height: 45px;
  width: 100px;
  border-radius: 20px;
}

.searchButton {
  width: 250px;
}
@font-face {
  font-family: "comicRelief";
  src: url(assets/ComicRelief-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Englebert";
  src: url(assets/Englebert-Regular.ttf) format("truetype");
}

body {
  font-family: "Comic Relief", cursive;
}

a {
  font-family: "Englebert", cursive;
}

h4 {
  font-size: 25px;
  font-family: "Englebert", cursive;
}

h1 {
  font-family: "Englebert", cursive;
}

input::placeholder {
  padding: 10px;
  color: black;
  font-family: "Englebert", cursive;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 25px;
  place-items: center;
  width: -webkit-fill-available;
  margin-top: 20px;
}
.c1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  background-color: #96b652;
}
.c-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.c1 img {
  width: 200px;
  height: 200px;
}
.c-info img {
  height: 50px;
  width: 75px;
}
#h-search {
  border-radius: 20px;
  height: 45px;
  border-style: none;
  width: 100px;
  background-color: #96b652;
}

.main-area {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.filter-bar {
  width: 200px;
  position: sticky;
  padding-top: 10px;
  top: 20px;
  background-color: #d1872d;
  height: 650px;
  display: none;
}
.filter-bar.show {
  display: block;
}
.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.search-bar input {
  border-radius: 10px;
  height: 20px;
  border-style: none;
  width: 150px;
  background-color: #96b652;
}
#s-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
#s-list li {
  padding: 5px 10px;
  cursor: pointer;
}
#s-list li:hover {
  color: blue;
}
#s-list li.active {
  font-weight: bold;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 25px;
  place-items: center;
  width: -webkit-fill-available;
}
.c1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  background-color: #96b652;
}
.c-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.c1 img {
  width: 200px;
  height: 200px;
}
.c-info img {
  height: 50px;
  width: 75px;
}
