@font-face {
  font-family: "comicRelief";
  src: url(assets/ComicRelief-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Englebert";
  src: url(assets/Englebert-Regular.ttf) format("truetype");
}

.hidden {
  display: none;
}
.header {
  background-color: #d1872d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
}

.leftButtons {
  cursor: pointer;
}
.leftButtons,
.rightButtons {
  display: flex;
  gap: 10px;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}
.headerButton {
  background-color: #96b652;
  border-style: none;
  height: 45px;
  width: 100px;
  border-radius: 20px;
}

.searchButton {
  width: 250px;
}

body {
  font-family: "Comic Relief", cursive;
}

a {
  font-family: "Englebert", cursive;
}

h4 {
  font-size: 21px;
  font-family: "Englebert", cursive;
  text-align: center;
}

h1 {
  font-family: "Englebert", cursive;
}

input::placeholder {
  padding: 10px;
  color: black;
  font-family: "Englebert", cursive;
}

button {
  font-family: "Comic Relief", cursive;
}

@media screen and (max-width: 376px) {
  h4 {
    font-size: 11px;
  }

  .header {
    padding: 15px 30px;
  }
  
  .headerButton {
    height: 25px;
  }
  
  .searchButton {
    width: 125px;
  }
  
  .etusivuButton {
    width: 75px;
  }
}