@font-face {
  font-family: "comicRelief";
  src: url(assets/ComicRelief-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "luckiestGuy";
  src: url(assets/LuckiestGuy-Regular.ttf) format("truetype");
}
