@font-face {
    font-family: "comicRelief";
    src: url(fonts/ComicRelief-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "luckiestGuy";
    src: url(fonts/LuckiestGuy-Regular.ttf) format("truetype");
}