.hidden {
  display: none;
}
.header {
  background-color: #d1872d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
}

.leftButtons,
.rightButtons {
  display: flex;
  gap: 10px;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}
.headerButton {
  background-color: #96b652;
  border-style: solid;
  height: 45px;
  border-color: black;
  width: 100px;
  border-radius: 20px;
  cursor: pointer;
}

.searchButton {
  width: 250px;
}
@font-face {
  font-family: "comicRelief";
  src: url(assets/ComicRelief-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "luckiestGuy";
  src: url(assets/LuckiestGuy-Regular.ttf) format("truetype");
}
