body {
  background-color: #f0eb62;
}

h1 {
  text-align: center;
  background-color: #f0eb62;
  margin: 30px 625px;
  padding: 10px 30px;
}

#tempImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 50%;
}

#tempDisc {
  background-color: #f0eb62;
  margin: 30px 200px;
  padding: 20px 40px;
}
