body {
  background-color: #fffcb9;
}

h1 {
  text-align: center;
  background-color: #fffcb9;
  margin: 30px 625px;
  padding: 10px 30px;
}

#tempImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 50%;
}

#tempDisc {
  background-color: #fffcb9;
  margin: 30px 200px;
  padding: 20px 40px;
}

@media screen and (max-width: 376px) {
  .topBox {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 10px;
  }

  #tempImg img {
    width: 100%;
    max-width: 350px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
  }

  #tempDisc {
    font-size: 10px;
    margin: 20px 10px;
    padding: 15px;
    text-align: center;
  }

  h1 {
    margin: 20px auto;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
}
