body {
    background-color: #f0eb62;
}

#h-search {
    display: flex;
    height: 20px;
    width: 150px;
}
.search-bar {
    display: flex;
    justify-content: center;
}
.main-area {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
#s-list {
    list-style: none;
}

#s-list:hover {
    cursor: pointer;
}

.filter-bar {
    width: 200px;
    position: sticky;
    padding-top: 10px;
    top: 20px;
    background-color: #d1872d;
    height: 650px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 25px;
    place-items: center;
    width: -webkit-fill-available;
}

.c1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 400px;
    border: 3px;
    border-style: solid;
    border-radius: 10px;
    background-color: #96b652;
}

.c-info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.c1 img {
    width: 200px;
    height: 200px;
}

.c-info img {
    height: 50px;
    width: 75px;
}